@{
    ViewData["Title"] = "Customer Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Customer Home</h1>
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="row">
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Index", "Home", new { area = "Customer" })" class="card text-decoration-none text-center">
                    <div class="card-body bg-primary" style="height: 200px;">
                        <h5 class="card-title text-dark" style="font-size: 24px; line-height: 150px;">Book Class</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Index", "Home", new { area = "Customer" })" class="card text-decoration-none text-center">
                    <div class="card-body bg-secondary" style="height: 200px;">
                        <h5 class="card-title text-dark" style="font-size: 24px; line-height: 150px;">Manage Bookings</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Index", "Home", new { area = "Customer" })" class="card text-decoration-none text-center">
                    <div class="card-body bg-info" style="height: 200px;">
                        <h5 class="card-title text-dark" style="font-size: 24px; line-height: 150px;">View Classes</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Index", "Home", new { area = "Customer" })" class="card text-decoration-none text-center">
                    <div class="card-body bg-warning" style="height: 200px;">
                        <h5 class="card-title text-dark" style="font-size: 24px; line-height: 150px;">View Bookings</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
 </div>
