@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


@{
    ViewData["Title"] = "Roles Manager Page";
}

    <div class="text-center">
        <h1 class="display-4">Roles Manager</h1>  

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger mx-2">@ViewBag.Message</div>
        }

    <form method="post" asp-action="AddRole" asp-controller="RolesManager">
        <div class="input-group">
            <input name="roleName" class="form-control w-25" />
             <button type="submit" class="btn-info btn">Add New Role</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>
                        <a class="btn btn-danger" asp-action="DeleteRole" asp-route-id="@role.Id">Delete</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>


</div>





