@{
    ViewData["Title"] = "Home Page";
}


<div class="Container">
    <img src="./images/background.jpg" id="background-image">
    <div class="heading-container">
        <h1 class="custom-title">Flex Appeal Fitness</h1>
    </div>
</div>

<div class="parent container d-flex justify-content-center align-items-center h-100"></div>


