@{
    ViewData["Title"] = "Home Page";
}


<div class="Container">
    <img src="./images/background.jpg" id="background-image">
    <div class="text-center custom-title">Flex Appeal Fitness</div>
</div>

<div class="parent container d-flex justify-content-center align-items-center h-100"></div>


